<!DOCTYPE html>
<html lang="en">
<head>
    <!--metas-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--links-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title>
        {{ title }}
    </title>

    {% block head_content %}
    <!--head_content-->
    {% endblock head_content %}

</head>
<body>
    <header class="header">
        <!--header_content-->
    </header>
    <main class="main">
        {% block main_content %}
        <!--main_content-->
        {% endblock main_content %}
    </main>
    
</body>
</html>